{
  "tags": [
    {
      "name": "Credit Requests"
    },
    {
      "name": "Sync Data"
    },
    {
      "name": "Alerts"
    },
    {
      "name": "Enrollment"
    }
  ],
  "openapi": "3.0.1",
  "servers": [
    {
      "url": "https://api.chargeblast.com"
    }
  ],
  "paths": {
"/api/v2/track": {
"post": {
"parameters": [
{
"in": "query",
"name": "api_key",
"required": true,
"schema": {
"type": "string"
}
}
],
"summary": "Upload IP Data",
"description": "This is used to upload IP data. Not needed if you are implementing /orders/upload (instead pass IP data there) - only used if you are on a supported integration and want to board with compelling evidence.",
"requestBody": {
"content": {
"application/json": {
"schema": {
"$ref": "#/components/schemas/TrackPayload"
}
}
},
"required": true
},
"operationId": "track",
"responses": {
"200": {
"content": {
"application/json": {
"schema": {
"type": "integer",
"format": "int64"
}
}
},
"description": "OK"
}
},
"tags": [
"Sync Data"
]
}
},

    "/api/v2/orders/{id}": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetOrder"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": ["Orders"],
        "description": "Get a specific the order from your chargeblast account. Receipt info is included with this endpoint.",
        "operationId": "orders",
        "summary": "Fetch Order",
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/enroll_merchant": {
      "post": {
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmbedEnrollmentBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": ["Enrollment"],
        "summary": "Enroll Merchant",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "name": "api_key",
            "required": true,
            "in": "query"
          },
          {
            "name": "merchant_id",
            "required": false,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "in": "query"
          }
        ],
        "description": "Enroll the merchant in a various alert program. If no merchant_id is specified a new merchant object will be automatically generated. For each alert program various info is required. For example, for Ethoca, only descriptors are. To see which info is required see [here](https://docs.chargeblast.io/reference/enrollment-criteria)",
        "operationId": "enroll-merchant"
      }
    },
    "/api/merchants": {
      "get": {
        "tags": ["Enrollment"],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "name": "api_key",
            "required": true,
            "in": "query"
          }
        ],
        "description": "Get all the merchants from your chargeblast account.",
        "summary": "Fetch Merchants",
        "operationId": "merchants",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmbedMerchantResponseDTO"
                }
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/api/alerts": {
      "get": {
        "operationId": "alerts",
        "tags": ["Alerts"],
        "summary": "Fetch Alerts",
        "description": "Get all the alerts from your chargeblast account.",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/ExportAlert"
                  },
                  "type": "array"
                }
              }
            },
            "description": "OK"
          }
        },
        "parameters": [
          {
            "in": "query",
            "name": "api_key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "name": "merchant_id",
            "required": false
          }
        ]
      }
    },
    "/api/merchant": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PayshieldRetailerDTO"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": ["Enrollment"],
        "description": "Get an individual merchant from your chargeblast account.",
        "summary": "Fetch Merchant",
        "operationId": "merchant",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "name": "api_key",
            "in": "query",
            "required": true
          },
          {
            "schema": {
              "nullable": true,
              "type": "string"
            },
            "required": false,
            "name": "merchant_id",
            "in": "query"
          }
        ]
      }
    },
    "/api/v2/alert/{id}": {
      "get": {
        "summary": "Fetch an Alert",
        "operationId": "alert",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExportAPIAlertResponse"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": ["Alerts"],
        "description": "Get a specific alert.",
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "schema": {
              "type": "string"
            },
            "name": "id",
            "required": true
          }
        ]
      }
    },
    "/api/v2/alerts/update/{id}": {
      "post": {
        "parameters": [
          {
            "name": "api_key",
            "schema": {
              "type": "string"
            },
            "required": true,
            "in": "query"
          },
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "description": "Update the state of an alert to properly inform the banks of whether or not a refund will be issued. If an alert is left unactioned for 72 hours it will be automatically declined. For best results mark alerts as resolved within 24 hours of receiving them (some smaller banks will escalate quarantined transactions as soon as 24 hours within propogating an alert). If you attempt to update an already actioned alert, the request will fail.",
        "operationId": "alerts-update",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              }
            }
          }
        },
        "summary": "Update Alert",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AlertUpdateBodyOpenAPI"
              }
            }
          },
          "required": true
        },
        "tags": ["Alerts"]
      }
    },
    "/api/alert/{id}": {
      "get": {
        "operationId": "alert",
        "tags": ["Alerts"],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExportAlert"
                }
              }
            },
            "description": "OK"
          }
        },
        "description": "Get all the alerts from your chargeblast account.",
        "summary": "Fetch an Alert",
        "parameters": [
          {
            "required": true,
            "name": "api_key",
            "schema": {
              "type": "string"
            },
            "in": "query"
          },
          {
            "name": "id",
            "schema": {
              "type": "string"
            },
            "in": "path",
            "required": true
          }
        ]
      }
    },
    "/api/unenroll": {
      "post": {
        "tags": ["Enrollment"],
        "description": "Pass in a given descriptor_id to unenroll merchant's descriptor. Ethoca alerts take 48 hours to confirm unenrollment, RDR ~2 weeks, CDRN ~24 hours.",
        "operationId": "unenroll",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "format": "int64",
                  "type": "integer"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "required": true,
            "name": "api_key"
          }
        ],
        "summary": "Unenroll Merchant",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UnenrollmentBody"
              }
            }
          },
          "required": true
        }
      }
    },
    "/api/v2/credit-request/create": {
      "post": {
        "tags": ["Credit Requests"],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RefundRequestBody"
              }
            }
          },
          "required": true
        },
        "operationId": "postApiV2Credit-requestCreate",
        "summary": "Create Credit Request",
        "description": "Creates a credit request for a rejected alert. Will fail if requesting credit from resolved alert or alert with an existing credit request, otherwise will simply return 200 response code.",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              }
            },
            "description": "OK"
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "required": true,
            "name": "api_key"
          }
        ]
      }
    },
    "/api/alerts/update/{id}": {
      "post": {
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "required": true,
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "api_key"
          },
          {
            "schema": {
              "type": "string"
            },
            "name": "id",
            "required": true,
            "in": "path"
          }
        ],
        "summary": "Update Alert",
        "tags": ["Alerts"],
        "description": "Update the state of an alert to properly inform the banks of whether or not a refund will be issued. If an alert is left unactioned for 72 hours it will be automatically declined. For best results mark alerts as resolved within 24 hours of receiving them (some smaller banks will escalate quarantined transactions as soon as 24 hours within propogating an alert). If you attempt to update an already actioned alert, the request will fail.",
        "operationId": "alerts-update",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AlertUpdateBodyOpenAPI"
              }
            }
          }
        }
      }
    },
    "/api/v2/orders": {
      "get": {
        "tags": ["Orders"],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIOrdersResponse"
                }
              }
            },
            "description": "OK"
          }
        },
        "operationId": "orders2",
        "parameters": [
          {
            "required": false,
            "schema": {
              "format": "int64",
              "type": "integer",
              "nullable": true
            },
            "name": "page",
            "in": "query",
            "description": "The starting page of the request. Default value of 0."
          },
          {
            "in": "query",
            "required": false,
            "schema": {
              "nullable": true,
              "type": "integer",
              "format": "int64"
            },
            "description": "How many objects to request per page. Default value of 10.",
            "name": "per"
          },
          {
            "description": "Your API key.",
            "name": "api_key",
            "required": true,
            "schema": {
              "type": "string"
            },
            "in": "query"
          }
        ],
        "description": "Get all the orders from your chargeblast account. Receipt info is omitted from this endpoint.",
        "summary": "Fetch Orders"
      }
    },
    "/api/v2/orders/upload": {
      "post": {
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderUploadResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrderUploadBody"
              }
            }
          }
        },
        "tags": ["Sync Data"],
        "operationId": "orders-upload",
        "parameters": [
          {
            "in": "query",
            "name": "api_key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "summary": "Upload Orders",
        "description": "Upload orders to the chargeblast system. This will allow you to match disputes and chargebacks to the orders you have uploaded. Amount should be in cents, e.g. $19.99 => amount = 1999. This endpoint is rate limited to 100 requests every 10 seconds."
      }
    },
    "/api/descriptors": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmbedDescriptorsResponseDTO"
                }
              }
            }
          }
        },
        "summary": "Fetch Descriptors",
        "tags": ["Enrollment"],
        "description": "Fetch all the descriptors for your merchants.",
        "parameters": [
          {
            "in": "query",
            "schema": {
              "type": "string"
            },
            "name": "api_key",
            "required": true
          }
        ],
        "operationId": "descriptors"
      }
    },
    "/api/v2/alerts": {
      "get": {
        "tags": ["Alerts"],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExportAPIAlertsResponse"
                }
              }
            }
          }
        },
        "description": "Get all the alerts from your chargeblast account.",
        "parameters": [
          {
            "schema": {
              "format": "int64",
              "nullable": true,
              "type": "integer"
            },
            "in": "query",
            "description": "The starting page of the request. Default value of 0.",
            "required": false,
            "name": "page"
          },
          {
            "required": false,
            "description": "How many objects to request per page. Default value of 10.",
            "name": "per",
            "in": "query",
            "schema": {
              "format": "int64",
              "type": "integer",
              "nullable": true
            }
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "api_key",
            "required": true,
            "description": "Your API key."
          }
        ],
        "summary": "Fetch Alerts",
        "operationId": "alerts"
      }
    }
  },
  "info": {
    "title": "Chargeblast API",
    "version": "0.1.0"
  },
  "components": {
    "schemas": {
      "OrderUploadBody": {
        "type": "object",
        "properties": {
          "orders": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OrderUploadBodyOrder"
            }
          }
        },
        "required": ["orders"]
      },
      "AgentSettings": {
        "properties": {
          "bankTransferInfo": {
            "$ref": "#/components/schemas/AgentSettingsBankTransferInfo"
          },
          "cryptoInfo": {
            "$ref": "#/components/schemas/AgentSettingsCryptoInfo"
          }
        },
        "required": ["bankTransferInfo", "cryptoInfo"],
        "type": "object"
      },
      "EmbedMerchantResponseDTO": {
        "required": ["merchants"],
        "type": "object",
        "properties": {
          "merchants": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PayshieldRetailerDTO"
            }
          }
        }
      },
      "TrackPayload": {
"required": [
"email",
"ip"
],
"type": "object",
"properties": {
"email": {
"type": "string"
},
"ip": {
"type": "string"
}
}
},
      "AnnouncementDTOAnnouncementType": {
        "type": "string",
        "enum": ["Error", "Warning", "Success"]
      },
      "APIOrdersResponse": {
        "required": ["orders", "page", "per", "total"],
        "properties": {
          "total": {
            "type": "integer",
            "format": "int64"
          },
          "page": {
            "format": "int64",
            "type": "integer"
          },
          "per": {
            "format": "int64",
            "type": "integer"
          },
          "orders": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "type": "object"
      },
      "OrderUploadResponse": {
        "properties": {
          "message": {
            "type": "string"
          }
        },
        "required": ["message"],
        "type": "object"
      },
      "UnenrollmentBody": {
        "properties": {
          "descriptor_id": {
            "type": "string"
          }
        },
        "type": "object",
        "required": ["descriptor_id"]
      },
      "DescriptorType": {
        "type": "string",
        "enum": [
          "Ethoca",
          "CDRN",
          "RDR",
          "Discover",
          "AMEX",
          "JCB",
          "Unknown",
          ""
        ]
      },
      "PayshieldSiteDTO": {
        "required": ["descriptors", "name", "retailer"],
        "type": "object",
        "properties": {
          "retailer": {
            "$ref": "#/components/schemas/PayshieldRetailerDTO"
          },
          "descriptors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PayshieldDescriptorDTO"
            }
          },
          "id": {
            "nullable": true,
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        }
      },
      "LineItem": {
        "properties": {
          "productName": {
            "type": "string",
            "nullable": false,
            "description": "The name of the product."
          },
          "productDescription": {
            "type": "string",
            "nullable": true,
            "description": "A more detailed description of the product."
          },
          "currency": {
            "type": "string",
            "nullable": true,
            "description": "3 character ISO currency code. If nil, defaults to USD."
          },
          "quantity": {
            "format": "int64",
            "type": "integer",
            "nullable": true,
            "description": "The quantity of the line item (defaults to 1)."
          },
          "price": {
            "format": "int64",
            "type": "integer",
            "nullable": false,
            "description": "The total price (in cents) of the line item. For if you bought 5 socks at $2 each, this field would be 1000."
          }
        }
      },
      "OrderUploadBodyOrder": {
        "required": ["amount", "currency", "id", "transactionDate"],
        "properties": {
          "ip": {
            "type": "string",
            "nullable": true,
            "description": "The ip address of the customer."
          },
          "authCode": {
            "type": "string",
            "nullable": true,
            "description": "The authorization code of the charge. Used for matching purposes."
          },
          "amount": {
            "description": "The amount, in cents, of the order. For example, $19.99 would be 1999.",
            "format": "int64",
            "type": "integer"
          },
          "bin": {
            "nullable": true,
            "description": "First 6 digits of the card.",
            "type": "string"
          },
          "descriptor": {
            "nullable": true,
            "description": "The billing descriptor of the charge.",
            "type": "string"
          },
          "id": {
            "description": "The internal id of the order in your CRM.",
            "type": "string"
          },
          "currency": {
            "type": "string",
            "description": "The 3 character currency (case insensitive). E.g. 'usd'."
          },
          "transactionDate": {
            "description": "The date of the charge either in yyyy-MM-dd'T'HH:mm:ssZ format or yyyy-MM-dd format.",
            "type": "string"
          },
          "brand": {
            "description": "The brand of the card (case insensitive). visa, mastercard, amex, discover. Other values will default to unknown",
            "nullable": true,
            "type": "string"
          },
          "gateway": {
            "type": "string",
            "nullable": true,
            "description": "If multiple gateways are used, the gateway of the transaction. Used for analytics only."
          },
          "arn": {
            "description": "The acquirer reference number of the charge, if available.",
            "type": "string",
            "nullable": true
          },
          "status": {
            "description": "The status of the transaction. Should be either 'succeeded' or 'failed'",
            "nullable": true,
            "type": "string"
          },
          "last4": {
            "nullable": true,
            "description": "Last 4 digits of the card.",
            "type": "string"
          },
          "refunded": {
            "nullable": true,
            "description": "Whether the transaction has already been refunded.",
            "type": "boolean"
          },
          "receipt": {
            "$ref": "#/components/schemas/Receipt",
            "description": "Additional info on the transaction. Only required for digital receipts and compelling evidence (pre-dispute re-presentment).",
            "type": "object"
          }
        },
        "type": "object"
      },
      "MerchantContact": {
        "type": "object",
        "properties": {
          "phoneForReceipt": {
            "type": "string",
            "nullable": true,
            "description": "The phone number to appear on the digital receipt, for the merchant's contact."
          },
          "emailForReceipt": {
            "type": "string",
            "nullable": true,
            "description": "The email address to appear on the digital receipt, for the merchant's contact."
          },
          "websiteForReceipt": {
            "type": "string",
            "nullable": true,
            "description": "The website URL to appear on the digital receipt, for the merchant's contact."
          },
          "receiptAddress": {
            "$ref": "#/components/schemas/Address",
            "nullable": true,
            "description": "The address to appear on the digital receipt, for the merchant's contact."
          }
        }
      },

      "merchantInfo": {
        "type": "object",
        "properties": {
          "merchantReceiptContact": {
            "$ref": "#/components/schemas/MerchantContact",
            "nullable": false,
            "description": "Your business contact information. Mandatory field if you are passing in merchant level details for each order."
          },
          "name": {
            "type": "string",
            "nullable": true,
            "description": "The name of the merchant to appear on the digital receipt, e.g. 'Netflix'"
          },
          "description": {
            "type": "string",
            "nullable": true,
            "description": "A brief description of the business, e.g. 'Media Streaming Business'"
          },
          "refundPolicyLink": {
            "type": "string",
            "nullable": true,
            "description": "A url linking to a refund policy. Include https://, e.g. 'https://netflix.com/refund-policy'"
          },
          "cancellationPolicyLink": {
            "type": "string",
            "nullable": true,
            "description": "A url linking to a cancel policy. Include https://, e.g. 'https://netflix.com/cancel-policy'"
          },
          "termsAndConditionsLink": {
            "type": "string",
            "nullable": true,
            "description": "A url linking to a terms of service. Include https://, e.g. 'https://netflix.com/terms-of-service'"
          },
          "logoUrl": {
            "type": "string",
            "nullable": true,
            "description": "A url linking to a logo of the business. For best results use square pngs (ideally 256x256, though other resolutions are supported)."
          }
        }
      },
      "CompellingEvidenceResult": {
        "properties": {
          "isEligible": {
            "type": "boolean"
          },
          "explanation": {
            "nullable": true,
            "type": "string",
            "description": "If the transaction is not eligible for compelling evidence, an explanation is provided."
          }
        },
        "type": "object",
        "required": ["isEligible"]
      },
      "GetOrder": {
        "properties": {
          "charge": {
            "$ref": "#/components/schemas/CommonChargeDirect"
          },
          "compellingEvidence": {
            "$ref": "#/components/schemas/CompellingEvidenceResult"
          },
          "digitalReceipt": {
            "$ref": "#/components/schemas/OITransactionResponse"
          }
        },
        "required": ["compellingEvidence"],
        "type": "object"
      },
      "Receipt": {
        "type": "object",
        "properties": {
          "merchantInfo": {
            "$ref": "#/components/schemas/merchantInfo",
            "description": "Override default merchant info. We recommend leaving this blank unless you are a merchant of record platform.",
            "type": "object",
            "nullable": true
          },

          "lineItems": {
            "description": "Line items for the receipt.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LineItem"
            }
          },
          "customerEmail": {
            "type": "string",
            "nullable": true
          },
          "customerPhone": {
            "type": "string",
            "nullable": true,
            "description": "Phone number if applicable, e.g. +14016993099. String in any ISO format is acceptable."
          },
          "shippingAddress": {
            "$ref": "#/components/schemas/Address",
            "description": "If a physical product, the shipping address of the customer.",
            "type": "object"
          },
          "billingAddress": {
            "$ref": "#/components/schemas/Address",
            "description": "The billing address of the customer.",
            "type": "object"
          },
          "name": {
            "$ref": "#/components/schemas/Name",
            "description": "The billing address of the customer.",
            "type": "object"
          }
        }
      },

      "Name": {
        "type": "object",
        "properties": {
          "givenName": {
            "type": "string",
            "nullable": true,
            "description": "First name, e.g. 'Elon' "
          },
          "familyName": {
            "type": "string",
            "nullable": true,
            "description": "Last name, e.g. 'Musk' "
          }
        }
      },

      "Address": {
        "type": "object",
        "properties": {
          "line1": {
            "type": "string",
            "nullable": true
          },
          "line2": {
            "type": "string",
            "nullable": true
          },
          "city": {
            "type": "string",
            "nullable": true
          },
          "countrySubdivision": {
            "type": "string",
            "nullable": true,
            "description": "For US addresses, the state - two letter coded. E.g. CA"
          },
          "postalCode": {
            "type": "string",
            "nullable": true
          },
          "country": {
            "type": "string",
            "nullable": true,
            "description": "The country spelled out, e.g. 'United States of America' or abbreviated 'USA'."
          },
          "latitude": {
            "type": "string",
            "nullable": true
          },
          "longitude": {
            "type": "string",
            "nullable": true
          }
        }
      },

      "PayshieldRetailerDTO": {
        "properties": {
          "sites": {
            "items": {
              "$ref": "#/components/schemas/PayshieldSiteDTO"
            },
            "type": "array"
          },
          "name": {
            "nullable": true,
            "type": "string"
          },
          "rcode": {
            "nullable": true,
            "type": "string"
          },
          "user": {
            "$ref": "#/components/schemas/UserDTO"
          },
          "verifiRiskLevel": {
            "$ref": "#/components/schemas/VerifiRiskLevel"
          },
          "verifi_name": {
            "nullable": true,
            "type": "string"
          },
          "source": {
            "$ref": "#/components/schemas/ProviderSource"
          },
          "merchant_id": {
            "nullable": true,
            "type": "string"
          },
          "id": {
            "nullable": true,
            "type": "string"
          }
        },
        "type": "object",
        "required": ["sites", "user"]
      },
      "AgentDealDTO": {
        "type": "object",
        "properties": {
          "agentPayload": {
            "additionalProperties": {},
            "type": "object"
          },
          "id": {
            "nullable": true,
            "type": "string"
          },
          "createdAt": {
            "format": "date-time",
            "type": "string",
            "nullable": true
          }
        },
        "required": ["agentPayload"]
      },
      "StickyIntegration": {
        "type": "object",
        "properties": {
          "enabled": {
            "type": "boolean",
            "nullable": true
          },
          "subdomain": {
            "type": "string",
            "nullable": true
          },
          "username": {
            "type": "string",
            "nullable": true
          },
          "password": {
            "nullable": true,
            "type": "string"
          }
        }
      },
      "DescriptorDetails": {
        "required": ["type"],
        "type": "object",
        "properties": {
          "type": {
            "type": "string"
          }
        }
      },
      "SMSIntegration": {
        "properties": {
          "phonenumber": {
            "type": "string"
          },
          "enabled": {
            "type": "boolean"
          }
        },
        "required": ["enabled", "phonenumber"],
        "type": "object"
      },
      "AlertUpdateBodyOpenAPI": {
        "properties": {
          "result": {
            "$ref": "#/components/schemas/AlertReasonCode"
          }
        },
        "required": ["result"],
        "type": "object"
      },
      "RefundRequestBody": {
        "properties": {
          "comments": {
            "type": "string",
            "nullable": true
          },
          "alert_id": {
            "type": "string"
          }
        },
        "required": ["alert_id"],
        "type": "object"
      },
      "SkioIntegration": {
        "properties": {
          "enabled": {
            "type": "boolean",
            "nullable": true
          },
          "apiKey": {
            "type": "string",
            "nullable": true
          }
        },
        "type": "object"
      },
      "Settings": {
        "required": ["apiKey", "emails", "webhooks"],
        "type": "object",
        "properties": {
          "webhooks": {
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "processor": {
            "type": "string",
            "nullable": true
          },
          "ruleset": {
            "type": "string",
            "nullable": true
          },
          "descriptors": {
            "type": "array",
            "nullable": true,
            "items": {
              "type": "string"
            }
          },
          "refundUrl": {
            "type": "string",
            "nullable": true
          },
          "autoresolve": {
            "nullable": true,
            "type": "boolean"
          },
          "integrationSettings": {
            "$ref": "#/components/schemas/IntegrationSettings"
          },
          "arns": {
            "type": "array",
            "nullable": true,
            "items": {
              "type": "string"
            }
          },
          "accountBanned": {
            "type": "boolean",
            "nullable": true
          },
          "alertColumns": {
            "nullable": true,
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "mcc": {
            "nullable": true,
            "type": "string"
          },
          "refundAllFromCustomer": {
            "type": "boolean",
            "nullable": true
          },
          "cancelSubscription": {
            "nullable": true,
            "type": "boolean"
          },
          "addCustomerToBlockList": {
            "nullable": true,
            "type": "boolean"
          },
          "descriptorRules": {
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/Rule"
            },
            "type": "array"
          },
          "apiKey": {
            "type": "string"
          },
          "paymentSource": {
            "nullable": true,
            "type": "string"
          },
          "emails": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "invoiceSettings": {
            "$ref": "#/components/schemas/InvoiceSettings"
          },
          "selectedAlerts": {
            "nullable": true,
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "rdrNotifications": {
            "type": "boolean",
            "nullable": true
          },
          "agentSettings": {
            "$ref": "#/components/schemas/AgentSettings"
          },
          "claritySettings": {
            "$ref": "#/components/schemas/ClaritySettings"
          },
          "touched": {
            "format": "int64",
            "nullable": true,
            "type": "integer"
          },
          "webhookSecret": {
            "nullable": true,
            "type": "string"
          },
          "matchingThreshhold": {
            "type": "number",
            "nullable": true,
            "format": "double"
          },
          "threshholdEnabled": {
            "nullable": true,
            "type": "boolean"
          },
          "efwRule": {
            "$ref": "#/components/schemas/Rule"
          },
          "ethocaRule": {
            "$ref": "#/components/schemas/Rule"
          },
          "refundAPIEnabled": {
            "nullable": true,
            "type": "boolean"
          },
          "hasBetaFeatures": {
            "type": "boolean",
            "nullable": true
          }
        }
      },
      "EmbedDescriptorsResponseDTO": {
        "properties": {
          "descriptors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PayshieldDescriptorDTO"
            }
          }
        },
        "required": ["descriptors"],
        "type": "object"
      },
      "SlackIntegration": {
        "properties": {
          "enabled": {
            "type": "boolean"
          },
          "channel": {
            "type": "string"
          },
          "authCode": {
            "type": "string"
          }
        },
        "type": "object",
        "required": ["authCode", "channel", "enabled"]
      },
      "AlertReasonCode": {
        "type": "string",
        "enum": [
          "Resolved",
          "ResolvedPartial",
          "ResolvedCancelled",
          "AccountCancelled",
          "CancellationProcessed",
          "UnmatchedGeneral",
          "UnmatchedCannotFindTransaction",
          "Duplicate",
          "MIDLost",
          "AlreadyRefunded",
          "AlreadyChargeback",
          "Ineligible",
          "TDS",
          "CannotCancel",
          "MatchedWillShip",
          "EscalateChargeback",
          "ContactedShipper",
          "WIP",
          "Error",
          "None",
          "NotMyDescriptor",
          "Unactioned",
          ""
        ]
      },
      "MaverickIntegration": {
        "type": "object",
        "properties": {
          "apiKey": {
            "type": "string",
            "nullable": true
          },
          "enabled": {
            "type": "boolean",
            "nullable": true
          }
        }
      },
      "WhopIntegration": {
        "properties": {
          "userId": {
            "type": "string"
          },
          "enabled": {
            "type": "boolean"
          },
          "paymentStatus": {
            "type": "string",
            "nullable": true
          },
          "companyId": {
            "type": "string"
          }
        },
        "type": "object",
        "required": ["companyId", "enabled", "userId"]
      },
      "RuleGroup": {
        "properties": {
          "logicOperator": {
            "type": "string"
          }
        },
        "type": "object",
        "required": ["logicOperator"]
      },
      "ExportAPIAlertResponse": {
        "type": "object",
        "properties": {
          "alert": {
            "$ref": "#/components/schemas/ExportAlert"
          }
        },
        "required": ["alert"]
      },
      "AgentSettingsCryptoInfo": {
        "type": "object",
        "required": ["token"],
        "properties": {
          "token": {
            "type": "string"
          }
        }
      },
      "RutterTokenDTO": {
        "properties": {
          "externalId": {
            "nullable": true,
            "type": "string"
          },
          "connectionId": {
            "type": "string"
          },
          "accessToken": {
            "type": "string"
          },
          "platformToken": {
            "nullable": true,
            "type": "string"
          },
          "id": {
            "type": "string",
            "nullable": true
          },
          "storeUniqueName": {
            "type": "string"
          },
          "isReady": {
            "type": "boolean"
          },
          "status": {
            "$ref": "#/components/schemas/RutterTokenDTOConnectionStatus"
          },
          "publicToken": {
            "type": "string"
          },
          "platform": {
            "type": "string"
          }
        },
        "required": [
          "accessToken",
          "connectionId",
          "isReady",
          "platform",
          "publicToken",
          "status",
          "storeUniqueName"
        ],
        "type": "object"
      },
      "Rule": {
        "required": ["rules"],
        "properties": {
          "action": {
            "$ref": "#/components/schemas/RuleAction"
          },
          "rules": {
            "items": {
              "$ref": "#/components/schemas/RuleGroup"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "InvoiceSettings": {
        "properties": {
          "vatCode": {
            "nullable": true,
            "type": "string"
          },
          "postal_code": {
            "nullable": true,
            "type": "string"
          },
          "line2": {
            "type": "string",
            "nullable": true
          },
          "line1": {
            "nullable": true,
            "type": "string"
          },
          "state": {
            "type": "string",
            "nullable": true
          },
          "country": {
            "nullable": true,
            "type": "string"
          },
          "vatNumber": {
            "nullable": true,
            "type": "string"
          },
          "city": {
            "type": "string",
            "nullable": true
          }
        },
        "type": "object"
      },
      "DescriptorRequestBody": {
        "type": "object",
        "properties": {
          "streetAddress": {
            "type": "string",
            "nullable": true
          },
          "mcc": {
            "nullable": true,
            "type": "string"
          },
          "caids": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "ruleset": {
            "nullable": true,
            "type": "string"
          },
          "country": {
            "type": "string",
            "nullable": true
          },
          "amexDescriptor": {
            "type": "string",
            "nullable": true
          },
          "zip": {
            "type": "string",
            "nullable": true
          },
          "city": {
            "nullable": true,
            "type": "string"
          },
          "type": {
            "type": "string",
            "nullable": true
          },
          "arns": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "selectedAlerts": {
            "nullable": true,
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "amexSe": {
            "type": "string",
            "nullable": true
          },
          "legalName": {
            "type": "string",
            "nullable": true
          },
          "discoverSe": {
            "nullable": true,
            "type": "string"
          },
          "processor": {
            "nullable": true,
            "type": "string"
          },
          "dbaName": {
            "nullable": true,
            "type": "string"
          },
          "state": {
            "type": "string",
            "nullable": true
          },
          "descriptors": {
            "nullable": true,
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "bins": {
            "items": {
              "type": "string"
            },
            "nullable": true,
            "type": "array"
          }
        }
      },
      "ExportAPIAlertsResponse": {
        "required": ["alerts", "page", "per", "total"],
        "properties": {
          "alerts": {
            "items": {
              "$ref": "#/components/schemas/ExportAlert"
            },
            "type": "array"
          },
          "page": {
            "format": "int64",
            "type": "integer"
          },
          "per": {
            "format": "int64",
            "type": "integer"
          },
          "total": {
            "format": "int64",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "InvitationDTOInvitationStatus": {
        "type": "string",
        "enum": ["Pending", "Accepted"]
      },
      "InvitationDTO": {
        "required": ["email", "permission"],
        "type": "object",
        "properties": {
          "email": {
            "type": "string"
          },
          "status": {
            "$ref": "#/components/schemas/InvitationDTOInvitationStatus"
          },
          "id": {
            "nullable": true,
            "type": "string"
          },
          "createdAt": {
            "format": "date-time",
            "type": "string",
            "nullable": true
          },
          "permission": {
            "$ref": "#/components/schemas/AccountPermission"
          }
        }
      },
      "RutterTokenDTOConnectionStatus": {
        "type": "string",
        "enum": ["active", "inactive"]
      },
      "ProviderSource": {
        "enum": ["Banks", "Ethoca", "Verifi"],
        "type": "string"
      },
      "PayshieldDescriptorDTO": {
        "properties": {
          "id": {
            "nullable": true,
            "type": "string"
          },
          "hasEmailSent": {
            "type": "boolean"
          },
          "type": {
            "$ref": "#/components/schemas/DescriptorType"
          },
          "bankMid": {
            "nullable": true,
            "type": "string"
          },
          "status": {
            "$ref": "#/components/schemas/PayshieldDescriptorDescriptorStatus"
          },
          "site": {
            "$ref": "#/components/schemas/PayshieldSiteDTO"
          },
          "details": {
            "$ref": "#/components/schemas/DescriptorDetails"
          }
        },
        "required": ["details", "hasEmailSent", "site", "status", "type"],
        "type": "object"
      },
      "EmbedEnrollmentBody": {
        "type": "object",
        "properties": {
          "type": {
            "$ref": "#/components/schemas/DescriptorType"
          },
          "requestData": {
            "$ref": "#/components/schemas/DescriptorRequestBody"
          },
          "merchantId": {
            "type": "string",
            "nullable": true
          }
        },
        "required": ["requestData", "type"]
      },
      "StripeIntegration": {
        "required": ["account_id", "enabled"],
        "type": "object",
        "properties": {
          "account_id": {
            "type": "string"
          },
          "user_id": {
            "nullable": true,
            "type": "string"
          },
          "shouldAppendDescriptor": {
            "type": "boolean",
            "nullable": true
          },
          "testMode": {
            "type": "boolean",
            "nullable": true
          },
          "enabled": {
            "type": "boolean"
          },
          "state": {
            "type": "string",
            "nullable": true
          },
          "useBillingDescriptors": {
            "nullable": true,
            "type": "boolean"
          },
          "appendDescriptor": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "DiscordIntegration": {
        "type": "object",
        "required": ["enabled", "webhook"],
        "properties": {
          "webhook": {
            "type": "string"
          },
          "enabled": {
            "type": "boolean"
          }
        }
      },
      "SealIntegration": {
        "type": "object",
        "properties": {
          "apiKey": {
            "type": "string"
          },
          "enabled": {
            "type": "boolean"
          }
        },
        "required": ["apiKey", "enabled"]
      },
      "IntegrationSettings": {
        "type": "object",
        "properties": {
          "mamopayIntegration": {
            "$ref": "#/components/schemas/MamopayIntegration"
          },
          "braintreeIntegration": {
            "$ref": "#/components/schemas/BraintreeIntegration"
          },
          "sealIntegration": {
            "$ref": "#/components/schemas/SealIntegration"
          },
          "checkoutChampIntegration": {
            "$ref": "#/components/schemas/CheckoutChampIntegration"
          },
          "stripeIntegration": {
            "$ref": "#/components/schemas/StripeIntegration"
          },
          "skioIntegration": {
            "$ref": "#/components/schemas/SkioIntegration"
          },
          "discordIntegration": {
            "$ref": "#/components/schemas/DiscordIntegration"
          },
          "stickyIntegration": {
            "$ref": "#/components/schemas/StickyIntegration"
          },
          "shopifyIntegration": {
            "$ref": "#/components/schemas/ShopifyIntegration"
          },
          "nextIntegration": {
            "$ref": "#/components/schemas/NextIntegration"
          },
          "maverickIntegration": {
            "$ref": "#/components/schemas/MaverickIntegration"
          },
          "spreedlyIntegration": {
            "$ref": "#/components/schemas/SpreedlyIntegration"
          },
          "smsIntegration": {
            "$ref": "#/components/schemas/SMSIntegration"
          },
          "whopIntegration": {
            "$ref": "#/components/schemas/WhopIntegration"
          },
          "slackIntegration": {
            "$ref": "#/components/schemas/SlackIntegration"
          },
          "klaviyoIntegration": {
            "$ref": "#/components/schemas/KlaviyoIntegration"
          }
        }
      },
      "KlaviyoIntegration": {
        "required": ["apiKey", "enabled"],
        "type": "object",
        "properties": {
          "enabled": {
            "type": "boolean"
          },
          "apiKey": {
            "type": "string"
          }
        }
      },
      "AgentSettingsBankTransferInfo": {
        "required": ["enabled"],
        "type": "object",
        "properties": {
          "bankAddress": {
            "type": "string",
            "nullable": true
          },
          "bankName": {
            "type": "string",
            "nullable": true
          },
          "enabled": {
            "type": "boolean"
          },
          "routingNumber": {
            "type": "string",
            "nullable": true
          },
          "iban": {
            "nullable": true,
            "type": "string"
          },
          "swiftCode": {
            "type": "string",
            "nullable": true
          },
          "accountNumber": {
            "nullable": true,
            "type": "string"
          }
        }
      },
      "UserSettingsDTO": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "nullable": true
          },
          "settings": {
            "$ref": "#/components/schemas/Settings"
          }
        }
      },
      "CBAccountDTO": {
        "properties": {
          "id": {
            "nullable": true,
            "type": "string"
          },
          "email": {
            "nullable": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "PayshieldDescriptorDescriptorStatus": {
        "type": "string",
        "enum": [
          "Pending",
          "Enrolled",
          "Disabled",
          "Surpressed",
          "Processing",
          "Rejected",
          "InReview"
        ]
      },
      "MamopayIntegration": {
        "properties": {
          "enabled": {
            "type": "boolean",
            "nullable": true
          },
          "apiKey": {
            "type": "string",
            "nullable": true
          }
        },
        "type": "object"
      },
      "ClaritySettings": {
        "properties": {
          "websiteForReceipt": {
            "nullable": true,
            "type": "string"
          },
          "productDescription": {
            "nullable": true,
            "type": "string"
          },
          "cancellationPolicy": {
            "type": "string",
            "nullable": true
          },
          "termsAndConditionsLink": {
            "type": "string",
            "nullable": true
          },
          "merchantCategoryCode": {
            "nullable": true,
            "type": "string"
          },
          "cancellationPolicyRecap": {
            "nullable": true,
            "type": "string"
          },
          "termsAndConditions": {
            "nullable": true,
            "type": "string"
          },
          "cancellationPolicyLink": {
            "nullable": true,
            "type": "string"
          },
          "country": {
            "type": "string",
            "nullable": true
          },
          "latitude": {
            "type": "string",
            "nullable": true
          },
          "logoUrl": {
            "nullable": true,
            "type": "string"
          },
          "phoneForReceipt": {
            "type": "string",
            "nullable": true
          },
          "termsAndConditionsRecap": {
            "type": "string",
            "nullable": true
          },
          "line1": {
            "type": "string",
            "nullable": true
          },
          "city": {
            "type": "string",
            "nullable": true
          },
          "status": {
            "type": "string",
            "nullable": true
          },
          "productName": {
            "nullable": true,
            "type": "string"
          },
          "countrySubdivision": {
            "type": "string",
            "nullable": true
          },
          "description": {
            "nullable": true,
            "type": "string"
          },
          "name": {
            "nullable": true,
            "type": "string"
          },
          "postalCode": {
            "nullable": true,
            "type": "string"
          },
          "refundPolicyLink": {
            "type": "string",
            "nullable": true
          },
          "refundPolicyRecap": {
            "type": "string",
            "nullable": true
          },
          "refundPolicy": {
            "nullable": true,
            "type": "string"
          },
          "longitude": {
            "type": "string",
            "nullable": true
          },
          "emailForReceipt": {
            "type": "string",
            "nullable": true
          },
          "line2": {
            "type": "string",
            "nullable": true
          }
        },
        "type": "object"
      },
      "VerifiRiskLevel": {
        "enum": ["High", "Medium", "Low"],
        "type": "string"
      },
      "AnnouncementDTO": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          },
          "id": {
            "nullable": true,
            "type": "string"
          },
          "type": {
            "$ref": "#/components/schemas/AnnouncementDTOAnnouncementType"
          }
        },
        "required": ["message", "type"]
      },
      "BraintreeIntegration": {
        "type": "object",
        "properties": {
          "privateKey": {
            "type": "string",
            "nullable": true
          },
          "enabled": {
            "type": "boolean",
            "nullable": true
          },
          "accountId": {
            "type": "string",
            "nullable": true
          },
          "merchantId": {
            "type": "string",
            "nullable": true
          },
          "publicKey": {
            "nullable": true,
            "type": "string"
          }
        }
      },
      "UserDTO": {
        "required": [
          "accounts",
          "agentDeal",
          "announcements",
          "invitations",
          "tokens"
        ],
        "properties": {
          "hubspotId": {
            "nullable": true,
            "type": "string"
          },
          "pfStripeId": {
            "type": "string",
            "nullable": true
          },
          "tokens": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RutterTokenDTO"
            }
          },
          "svixId": {
            "nullable": true,
            "type": "string"
          },
          "id": {
            "type": "string",
            "nullable": true
          },
          "fromInvite": {
            "nullable": true,
            "type": "boolean"
          },
          "referralCode": {
            "type": "string",
            "nullable": true
          },
          "merchantId": {
            "type": "string",
            "nullable": true
          },
          "phonenumber": {
            "type": "string",
            "nullable": true
          },
          "stripeId": {
            "type": "string",
            "nullable": true
          },
          "utmSource": {
            "type": "string",
            "nullable": true
          },
          "agentDeal": {
            "items": {
              "$ref": "#/components/schemas/AgentDealDTO"
            },
            "type": "array"
          },
          "internalCompany": {
            "type": "string",
            "nullable": true
          },
          "invitations": {
            "items": {
              "$ref": "#/components/schemas/InvitationDTO"
            },
            "type": "array"
          },
          "announcements": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AnnouncementDTO"
            }
          },
          "accounts": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CBAccountDTO"
            }
          },
          "isBilledForResolved": {
            "type": "boolean",
            "nullable": true
          },
          "risk": {
            "$ref": "#/components/schemas/AccountRiskLevel"
          },
          "internalId": {
            "nullable": true,
            "type": "string"
          },
          "email": {
            "nullable": true,
            "type": "string"
          },
          "settings": {
            "$ref": "#/components/schemas/UserSettingsDTO"
          },
          "createdAt": {
            "type": "string",
            "nullable": true,
            "format": "date-time"
          },
          "name": {
            "nullable": true,
            "type": "string"
          },
          "company": {
            "nullable": true,
            "type": "string"
          },
          "admin": {
            "nullable": true,
            "type": "boolean"
          },
          "isSalesAgent": {
            "type": "boolean",
            "nullable": true
          }
        },
        "type": "object"
      },
      "CheckoutChampIntegration": {
        "type": "object",
        "required": ["enabled", "password", "username"],
        "properties": {
          "password": {
            "type": "string"
          },
          "enabled": {
            "type": "boolean"
          },
          "username": {
            "type": "string"
          }
        }
      },
      "RuleAction": {
        "type": "object",
        "properties": {
          "descriptor": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "ShopifyIntegration": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "nullable": true
          },
          "store_unique_name": {
            "type": "string",
            "nullable": true
          },
          "state": {
            "nullable": true,
            "type": "string"
          },
          "external_id": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "NextIntegration": {
        "properties": {
          "status": {
            "nullable": true,
            "type": "string"
          },
          "store": {
            "type": "string",
            "nullable": true
          },
          "enabled": {
            "type": "boolean",
            "nullable": true
          }
        },
        "type": "object"
      },
      "AccountPermission": {
        "type": "string",
        "enum": [
          "manager",
          "analyst",
          "admin",
          "refundAnalyst",
          "any",
          "unknown"
        ]
      },
      "ExportAlert": {
        "properties": {
          "provider": {
            "type": "string",
            "nullable": true,
            "description": "Provider associated with the alert. Possible values: ethoca, verifi"
          },
          "id": {
            "type": "string",
            "description": "Id for the alert."
          },
          "card": {
            "description": "The redacted card number, e.g., 424242****1234.",
            "type": "string",
            "nullable": true
          },
          "issuer": {
            "type": "string",
            "description": "Issuer of the card (e.g., bank or financial institution).",
            "nullable": true
          },
          "invoicedAt": {
            "description": "Date and time when the alert was invoiced.",
            "format": "date-time",
            "nullable": true,
            "type": "string"
          },
          "authCode": {
            "description": "Authorization code for the transaction, if available.",
            "type": "string",
            "nullable": true
          },
          "site": {
            "description": "Merchant's website or site string associated with the alert.",
            "type": "string",
            "nullable": true
          },
          "customerEmail": {
            "nullable": true,
            "type": "string",
            "description": "Customer's email address associated with the alert, if available."
          },
          "creditStatus": {
            "type": "string",
            "nullable": true,
            "description": "Status of the credit (if any) associated with the alert."
          },
          "alertType": {
            "description": "Type of alert, e.g., FRAUD, DISPUTE.",
            "type": "string"
          },
          "creditAppealed": {
            "type": "boolean",
            "description": "Indicates if the credit associated with the alert was appealed."
          },
          "currency": {
            "nullable": true,
            "type": "string",
            "description": "Currency code in ISO format (e.g., USD, EUR) for the transaction."
          },
          "reasonCode": {
            "nullable": true,
            "description": "Reason code associated with the alert, often indicating the nature of the dispute.",
            "type": "string"
          },
          "createdAt": {
            "description": "Date and time when the alert was created.",
            "type": "string",
            "format": "date-time"
          },
          "merchantId": {
            "description": "Identifier for the merchant within the system.",
            "type": "string",
            "nullable": true
          },
          "acquirerAction": {
            "nullable": true,
            "type": "string",
            "description": "Actions taken by the acquirer in response to the alert. Only relevant for RDR and other acquirer side alerts - either Resolved or Declined."
          },
          "alertId": {
            "description": "Unique identifier for the alert within the provider's system. Will match the id field.",
            "nullable": true,
            "type": "string"
          },
          "amount": {
            "type": "number",
            "description": "Transaction amount for the alert. $139.38 will be represented as 139.38",
            "format": "double"
          },
          "resolvedDate": {
            "description": "Date and time when the alert was resolved.",
            "format": "date-time",
            "nullable": true,
            "type": "string"
          },
          "resolvedByApi": {
            "description": "Indicates if the alert was resolved via API.",
            "nullable": true,
            "type": "boolean"
          },
          "externalOrder": {
            "description": "External charge id related to the alert.",
            "nullable": true,
            "type": "string"
          },
          "externalUrl": {
            "nullable": true,
            "type": "string",
            "description": "URL linking to an external reference for the alert."
          },
          "creditNotes": {
            "type": "string",
            "description": "Additional notes or information regarding the credit status.",
            "nullable": true
          },
          "arn": {
            "description": "Acquirer Reference Number, unique identifier for the transaction.",
            "nullable": true,
            "type": "string"
          },
          "transactionDate": {
            "type": "string",
            "description": "Date and time when the transaction took place.",
            "format": "date-time"
          },
          "customerId": {
            "description": "Unique identifier for the customer associated with the alert, if available.",
            "nullable": true,
            "type": "string"
          },
          "descriptor": {
            "description": "Billing descriptor shown on the card statement.",
            "nullable": true,
            "type": "string"
          },
          "subprovider": {
            "description": "Specific sub-provider within the provider service.",
            "type": "string"
          },
          "cardBrand": {
            "type": "string",
            "description": "The card network (e.g., Visa, Mastercard, Amex).",
            "nullable": true
          },
          "responseAction": {
            "description": "Response action taken in response to the alert.",
            "nullable": true,
            "type": "string"
          }
        },
        "type": "object",
        "description": "Export alert details.",
        "required": [
          "alertType",
          "amount",
          "createdAt",
          "creditAppealed",
          "id",
          "subprovider",
          "transactionDate"
        ]
      },
      "AccountRiskLevel": {
        "type": "string",
        "enum": ["High", "Medium", "Low"]
      },
      "SpreedlyIntegration": {
        "properties": {
          "env": {
            "nullable": true,
            "type": "string"
          },
          "enabled": {
            "nullable": true,
            "type": "boolean"
          },
          "key": {
            "type": "string",
            "nullable": true
          }
        },
        "type": "object"
      }
    }
  }
}
