{
  "tags": [
  {
  "name": "Sync Data"
  },
  {
  "name": "Alerts"
  },
  {
  "name": "Enrollment"
  }
  ],
  "info": {
  "title": "Chargeblast API",
  "version": "0.1.0"
  },
  "openapi": "3.0.1",
  "paths": {
  "/api/merchants": {
  "get": {
  "operationId": "merchants",
  "tags": [
  "Enrollment"
  ],
  "description": "Get all the merchants from your chargeblast account.",
  "summary": "Fetch Merchants",
  "parameters": [
  {
  "required": true,
  "in": "query",
  "name": "api_key",
  "schema": {
  "type": "string"
  }
  }
  ],
  "responses": {
  "200": {
  "content": {
  "application/json": {
  "schema": {
  "$ref": "#/components/schemas/EmbedMerchantResponseDTO"
  }
  }
  },
  "description": "OK"
  }
  }
  }
  },
  "/api/alerts": {
  "get": {
  "tags": [
  "Alerts"
  ],
  "operationId": "alerts",
  "description": "Get all the alerts from your chargeblast account.",
  "parameters": [
  {
  "required": true,
  "in": "query",
  "schema": {
  "type": "string"
  },
  "name": "api_key"
  },
  {
  "in": "query",
  "name": "merchant_id",
  "required": false,
  "schema": {
  "type": "string",
  "nullable": true
  }
  }
  ],
  "responses": {
  "200": {
  "description": "OK",
  "content": {
  "application/json": {
  "schema": {
  "items": {
  "$ref": "#/components/schemas/ExportAlert"
  },
  "type": "array"
  }
  }
  }
  }
  },
  "summary": "Fetch Alerts"
  }
  },
  "/api/alerts/update/{id}": {
  "post": {
  "summary": "Update Alert",
  "parameters": [
  {
  "schema": {
  "type": "string"
  },
  "name": "api_key",
  "required": true,
  "in": "query"
  },
  {
  "required": true,
  "in": "path",
  "name": "id",
  "schema": {
  "type": "string"
  }
  }
  ],
  "operationId": "alerts-update",
  "tags": [
  "Alerts"
  ],
  "responses": {
  "200": {
  "content": {
  "application/json": {
  "schema": {
  "format": "int64",
  "type": "integer"
  }
  }
  },
  "description": "OK"
  }
  },
  "description": "Update the state of an alert to properly inform the banks of whether or not a refund will be issued. If an alert is left unactioned for 72 hours it will be automatically declined. For best results mark alerts as resolved within 24 hours of receiving them (some smaller banks will escalate quarantined transactions as soon as 24 hours within propogating an alert). If you attempt to update an already actioned alert, the request will fail.",
  "requestBody": {
  "required": true,
  "content": {
  "application/json": {
  "schema": {
  "$ref": "#/components/schemas/AlertUpdateBodyOpenAPI"
  }
  }
  }
  }
  }
  },
  "/api/alert/{id}": {
  "get": {
  "description": "Get all the alerts from your chargeblast account.",
  "tags": [
  "Alerts"
  ],
  "operationId": "alert",
  "summary": "Fetch an Alert",
  "parameters": [
  {
  "required": true,
  "name": "api_key",
  "in": "query",
  "schema": {
  "type": "string"
  }
  },
  {
  "in": "path",
  "schema": {
  "type": "string"
  },
  "required": true,
  "name": "id"
  }
  ],
  "responses": {
  "200": {
  "description": "OK",
  "content": {
  "application/json": {
  "schema": {
  "$ref": "#/components/schemas/ExportAlert"
  }
  }
  }
  }
  }
  }
  },
  "/api/unenroll": {
  "post": {
  "requestBody": {
  "required": true,
  "content": {
  "application/json": {
  "schema": {
  "$ref": "#/components/schemas/UnenrollmentBody"
  }
  }
  }
  },
  "summary": "Unenroll Merchant",
  "parameters": [
  {
  "in": "query",
  "required": true,
  "name": "api_key",
  "schema": {
  "type": "string"
  }
  }
  ],
  "operationId": "unenroll",
  "responses": {
  "200": {
  "content": {
  "application/json": {
  "schema": {
  "type": "integer",
  "format": "int64"
  }
  }
  },
  "description": "OK"
  }
  },
  "tags": [
  "Enrollment"
  ],
  "description": "Pass in a given descriptor_id to unenroll merchant's descriptor. Ethoca alerts take 48 hours to confirm unenrollment, RDR ~2 weeks, CDRN ~24 hours."
  }
  },
  "/api/orders/upload": {
  "post": {
  "tags": [
  "Sync Data"
  ],
  "responses": {
  "200": {
  "description": "OK",
  "content": {
  "application/json": {
  "schema": {
  "$ref": "#/components/schemas/OrderUploadResponse"
  }
  }
  }
  }
  },
  "requestBody": {
  "required": true,
  "content": {
  "application/json": {
  "schema": {
  "$ref": "#/components/schemas/OrderUploadBody"
  }
  }
  }
  },
  "description": "Upload orders to the chargeblast system. This will allow you to match disputes and chargebacks to the orders you have uploaded. Amount should be in cents, e.g. $19.99 => amount = 1999",
  "operationId": "orders-upload",
  "summary": "Upload Orders",
  "parameters": [
  {
  "in": "query",
  "required": true,
  "name": "api_key",
  "schema": {
  "type": "string"
  }
  }
  ]
  }
  },
  "/api/merchant": {
  "get": {
  "summary": "Fetch Merchant",
  "operationId": "merchant",
  "parameters": [
  {
  "name": "api_key",
  "required": true,
  "in": "query",
  "schema": {
  "type": "string"
  }
  },
  {
  "required": false,
  "schema": {
  "nullable": true,
  "type": "string"
  },
  "name": "merchant_id",
  "in": "query"
  }
  ],
  "tags": [
  "Enrollment"
  ],
  "description": "Get an individual merchant from your chargeblast account.",
  "responses": {
  "200": {
  "content": {
  "application/json": {
  "schema": {
  "$ref": "#/components/schemas/PayshieldRetailerDTO"
  }
  }
  },
  "description": "OK"
  }
  }
  }
  },
  "/api/descriptors": {
  "get": {
  "parameters": [
  {
  "in": "query",
  "name": "api_key",
  "required": true,
  "schema": {
  "type": "string"
  }
  }
  ],
  "operationId": "descriptors",
  "tags": [
  "Enrollment"
  ],
  "responses": {
  "200": {
  "content": {
  "application/json": {
  "schema": {
  "$ref": "#/components/schemas/EmbedDescriptorsResponseDTO"
  }
  }
  },
  "description": "OK"
  }
  },
  "description": "Fetch all the descriptors for your merchants.",
  "summary": "Fetch Descriptors"
  }
  },
  "/api/enroll_merchant": {
  "post": {
  "operationId": "enroll-merchant",
  "tags": [
  "Enrollment"
  ],
  "requestBody": {
  "required": true,
  "content": {
  "application/json": {
  "schema": {
  "$ref": "#/components/schemas/EmbedEnrollmentBody"
  }
  }
  }
  },
  "responses": {
  "200": {
  "description": "OK",
  "content": {
  "application/json": {
  "schema": {
  "format": "int64",
  "type": "integer"
  }
  }
  }
  }
  },
  "description": "Enroll the merchant in a various alert program. If no merchant_id is specified a new merchant object will be automatically generated. For each alert program various info is required. For example, for Ethoca, only descriptors are. To see which info is required see [here](https://docs.chargeblast.io/reference/enrollment-criteria)",
  "parameters": [
  {
  "required": true,
  "name": "api_key",
  "schema": {
  "type": "string"
  },
  "in": "query"
  },
  {
  "in": "query",
  "schema": {
  "type": "string",
  "nullable": true
  },
  "required": false,
  "name": "merchant_id"
  }
  ],
  "summary": "Enroll Merchant"
  }
  }
  },
  "servers": [
  {
  "url": "https://api.chargeblast.com"
  }
  ],
  "components": {
  "schemas": {
  "BraintreeIntegration": {
  "properties": {
  "privateKey": {
  "type": "string",
  "nullable": true
  },
  "merchantId": {
  "nullable": true,
  "type": "string"
  },
  "enabled": {
  "nullable": true,
  "type": "boolean"
  },
  "publicKey": {
  "nullable": true,
  "type": "string"
  },
  "accountId": {
  "nullable": true,
  "type": "string"
  }
  },
  "type": "object"
  },
  "EmbedMerchantResponseDTO": {
  "type": "object",
  "properties": {
  "merchants": {
  "type": "array",
  "items": {
  "$ref": "#/components/schemas/PayshieldRetailerDTO"
  }
  }
  },
  "required": [
  "merchants"
  ]
  },
  "SlackIntegration": {
  "type": "object",
  "required": [
  "authCode",
  "channel",
  "enabled"
  ],
  "properties": {
  "authCode": {
  "type": "string"
  },
  "enabled": {
  "type": "boolean"
  },
  "channel": {
  "type": "string"
  }
  }
  },
  "PayshieldRetailerDTO": {
  "type": "object",
  "properties": {
  "name": {
  "nullable": true,
  "type": "string"
  },
  "user": {
  "$ref": "#/components/schemas/UserDTO"
  },
  "rcode": {
  "type": "string",
  "nullable": true
  },
  "id": {
  "nullable": true,
  "type": "string"
  },
  "verifi_name": {
  "nullable": true,
  "type": "string"
  },
  "verifiRiskLevel": {
  "$ref": "#/components/schemas/VerifiRiskLevel"
  },
  "source": {
  "$ref": "#/components/schemas/ProviderSource"
  },
  "sites": {
  "items": {
  "$ref": "#/components/schemas/PayshieldSiteDTO"
  },
  "type": "array"
  },
  "merchant_id": {
  "nullable": true,
  "type": "string"
  }
  },
  "required": [
  "sites",
  "user"
  ]
  },
  "PayshieldDescriptorDescriptorStatus": {
  "enum": [
  "Pending",
  "Enrolled",
  "Disabled",
  "Surpressed",
  "Processing",
  "Rejected",
  "InReview"
  ],
  "type": "string"
  },
  "CBAccountDTO": {
  "properties": {
  "email": {
  "nullable": true,
  "type": "string"
  },
  "id": {
  "nullable": true,
  "type": "string"
  }
  },
  "type": "object"
  },
  "RutterTokenDTO": {
  "type": "object",
  "required": [
  "accessToken",
  "connectionId",
  "isReady",
  "platform",
  "publicToken",
  "status",
  "storeUniqueName"
  ],
  "properties": {
  "connectionId": {
  "type": "string"
  },
  "platform": {
  "type": "string"
  },
  "isReady": {
  "type": "boolean"
  },
  "externalId": {
  "nullable": true,
  "type": "string"
  },
  "publicToken": {
  "type": "string"
  },
  "accessToken": {
  "type": "string"
  },
  "platformToken": {
  "nullable": true,
  "type": "string"
  },
  "id": {
  "nullable": true,
  "type": "string"
  },
  "storeUniqueName": {
  "type": "string"
  },
  "status": {
  "$ref": "#/components/schemas/RutterTokenDTOConnectionStatus"
  }
  }
  },
  "OrderUploadBody": {
  "required": [
  "orders"
  ],
  "type": "object",
  "properties": {
  "orders": {
  "type": "array",
  "items": {
  "$ref": "#/components/schemas/OrderUploadBodyOrder"
  }
  }
  }
  },
  "ClaritySettings": {
  "type": "object",
  "properties": {
  "refundPolicyRecap": {
  "type": "string",
  "nullable": true
  },
  "cancellationPolicyLink": {
  "nullable": true,
  "type": "string"
  },
  "termsAndConditionsLink": {
  "nullable": true,
  "type": "string"
  },
  "line1": {
  "type": "string",
  "nullable": true
  },
  "line2": {
  "nullable": true,
  "type": "string"
  },
  "refundPolicy": {
  "nullable": true,
  "type": "string"
  },
  "longitude": {
  "nullable": true,
  "type": "string"
  },
  "refundPolicyLink": {
  "type": "string",
  "nullable": true
  },
  "termsAndConditionsRecap": {
  "nullable": true,
  "type": "string"
  },
  "cancellationPolicyRecap": {
  "nullable": true,
  "type": "string"
  },
  "phoneForReceipt": {
  "type": "string",
  "nullable": true
  },
  "city": {
  "nullable": true,
  "type": "string"
  },
  "description": {
  "type": "string",
  "nullable": true
  },
  "logoUrl": {
  "nullable": true,
  "type": "string"
  },
  "merchantCategoryCode": {
  "type": "string",
  "nullable": true
  },
  "country": {
  "type": "string",
  "nullable": true
  },
  "countrySubdivision": {
  "nullable": true,
  "type": "string"
  },
  "websiteForReceipt": {
  "type": "string",
  "nullable": true
  },
  "postalCode": {
  "nullable": true,
  "type": "string"
  },
  "emailForReceipt": {
  "type": "string",
  "nullable": true
  },
  "cancellationPolicy": {
  "type": "string",
  "nullable": true
  },
  "status": {
  "nullable": true,
  "type": "string"
  },
  "latitude": {
  "type": "string",
  "nullable": true
  },
  "productName": {
  "type": "string",
  "nullable": true
  },
  "name": {
  "type": "string",
  "nullable": true
  },
  "termsAndConditions": {
  "nullable": true,
  "type": "string"
  },
  "productDescription": {
  "nullable": true,
  "type": "string"
  }
  }
  },
  "AccountPermission": {
  "type": "string",
  "enum": [
  "manager",
  "analyst",
  "admin",
  "refundAnalyst",
  "any",
  "unknown"
  ]
  },
  "SealIntegration": {
  "properties": {
  "apiKey": {
  "type": "string"
  },
  "enabled": {
  "type": "boolean"
  }
  },
  "required": [
  "apiKey",
  "enabled"
  ],
  "type": "object"
  },
  "MaverickIntegration": {
  "properties": {
  "apiKey": {
  "type": "string",
  "nullable": true
  },
  "enabled": {
  "nullable": true,
  "type": "boolean"
  }
  },
  "type": "object"
  },
  "AnnouncementDTOAnnouncementType": {
  "enum": [
  "Error",
  "Warning",
  "Success"
  ],
  "type": "string"
  },
  "MamopayIntegration": {
  "properties": {
  "enabled": {
  "type": "boolean",
  "nullable": true
  },
  "apiKey": {
  "nullable": true,
  "type": "string"
  }
  },
  "type": "object"
  },
  "EmbedDescriptorsResponseDTO": {
  "required": [
  "descriptors"
  ],
  "properties": {
  "descriptors": {
  "type": "array",
  "items": {
  "$ref": "#/components/schemas/PayshieldDescriptorDTO"
  }
  }
  },
  "type": "object"
  },
  "OrderUploadBodyOrder": {
  "type": "object",
  "properties": {
  "status": {
  "nullable": true,
  "type": "string"
  },
  "last4": {
  "nullable": true,
  "type": "string"
  },
  "authCode": {
  "type": "string",
  "nullable": true
  },
  "gateway": {
  "nullable": true,
  "type": "string"
  },
  "arn": {
  "nullable": true,
  "type": "string"
  },
  "refunded": {
  "nullable": true,
  "type": "boolean"
  },
  "descriptor": {
  "type": "string",
  "nullable": true
  },
  "bin": {
  "nullable": true,
  "type": "string"
  },
  "id": {
  "type": "string"
  },
  "amount": {
  "format": "int64",
  "type": "integer"
  },
  "currency": {
  "type": "string"
  },
  "brand": {
  "nullable": true,
  "type": "string"
  },
  "transactionDate": {
  "type": "string"
  }
  },
  "required": [
  "amount",
  "currency",
  "id",
  "transactionDate"
  ]
  },
  "StripeIntegration": {
  "properties": {
  "state": {
  "type": "string",
  "nullable": true
  },
  "useBillingDescriptors": {
  "type": "boolean",
  "nullable": true
  },
  "enabled": {
  "type": "boolean"
  },
  "user_id": {
  "nullable": true,
  "type": "string"
  },
  "testMode": {
  "nullable": true,
  "type": "boolean"
  },
  "appendDescriptor": {
  "type": "string",
  "nullable": true
  },
  "shouldAppendDescriptor": {
  "nullable": true,
  "type": "boolean"
  },
  "account_id": {
  "type": "string"
  }
  },
  "required": [
  "account_id",
  "enabled"
  ],
  "type": "object"
  },
  "ShopifyIntegration": {
  "type": "object",
  "properties": {
  "external_id": {
  "nullable": true,
  "type": "string"
  },
  "id": {
  "nullable": true,
  "type": "string"
  },
  "state": {
  "type": "string",
  "nullable": true
  },
  "store_unique_name": {
  "type": "string",
  "nullable": true
  }
  }
  },
  "AgentSettings": {
  "required": [
  "bankTransferInfo",
  "cryptoInfo"
  ],
  "type": "object",
  "properties": {
  "bankTransferInfo": {
  "$ref": "#/components/schemas/AgentSettingsBankTransferInfo"
  },
  "cryptoInfo": {
  "$ref": "#/components/schemas/AgentSettingsCryptoInfo"
  }
  }
  },
  "RutterTokenDTOConnectionStatus": {
  "enum": [
  "active",
  "inactive"
  ],
  "type": "string"
  },
  "VerifiRiskLevel": {
  "enum": [
  "High",
  "Medium",
  "Low"
  ],
  "type": "string"
  },
  "InvitationDTOInvitationStatus": {
  "enum": [
  "Pending",
  "Accepted"
  ],
  "type": "string"
  },
  "ExportAlert": {
  "required": [
  "alertType",
  "amount",
  "createdAt",
  "creditAppealed",
  "id",
  "subprovider",
  "transactionDate"
  ],
  "description": "Export alert details.",
  "properties": {
  "site": {
  "nullable": true,
  "description": "Merchant's website or site string associated with the alert.",
  "type": "string"
  },
  "provider": {
  "type": "string",
  "description": "Provider associated with the alert. Possible values: ethoca, verifi",
  "nullable": true
  },
  "resolvedByApi": {
  "nullable": true,
  "type": "boolean",
  "description": "Indicates if the alert was resolved via API."
  },
  "reasonCode": {
  "type": "string",
  "description": "Reason code associated with the alert, often indicating the nature of the dispute.",
  "nullable": true
  },
  "responseAction": {
  "description": "Response action taken in response to the alert.",
  "type": "string",
  "nullable": true
  },
  "alertId": {
  "type": "string",
  "nullable": true,
  "description": "Unique identifier for the alert within the provider's system. Will match the id field."
  },
  "externalOrder": {
  "type": "string",
  "description": "External charge id related to the alert.",
  "nullable": true
  },
  "createdAt": {
  "format": "date-time",
  "type": "string",
  "description": "Date and time when the alert was created."
  },
  "externalUrl": {
  "nullable": true,
  "type": "string",
  "description": "URL linking to an external reference for the alert."
  },
  "descriptor": {
  "description": "Billing descriptor shown on the card statement.",
  "nullable": true,
  "type": "string"
  },
  "alertType": {
  "description": "Type of alert, e.g., FRAUD, DISPUTE.",
  "type": "string"
  },
  "arn": {
  "description": "Acquirer Reference Number, unique identifier for the transaction.",
  "nullable": true,
  "type": "string"
  },
  "authCode": {
  "type": "string",
  "description": "Authorization code for the transaction, if available.",
  "nullable": true
  },
  "issuer": {
  "description": "Issuer of the card (e.g., bank or financial institution).",
  "type": "string",
  "nullable": true
  },
  "currency": {
  "type": "string",
  "description": "Currency code in ISO format (e.g., USD, EUR) for the transaction.",
  "nullable": true
  },
  "subprovider": {
  "description": "Specific sub-provider within the provider service.",
  "type": "string"
  },
  "creditAppealed": {
  "type": "boolean",
  "description": "Indicates if the credit associated with the alert was appealed."
  },
  "customerEmail": {
  "nullable": true,
  "type": "string",
  "description": "Customer's email address associated with the alert, if available."
  },
  "creditNotes": {
  "nullable": true,
  "description": "Additional notes or information regarding the credit status.",
  "type": "string"
  },
  "creditStatus": {
  "description": "Status of the credit (if any) associated with the alert.",
  "type": "string",
  "nullable": true
  },
  "resolvedDate": {
  "type": "string",
  "format": "date-time",
  "description": "Date and time when the alert was resolved.",
  "nullable": true
  },
  "cardBrand": {
  "nullable": true,
  "type": "string",
  "description": "The card network (e.g., Visa, Mastercard, Amex)."
  },
  "card": {
  "description": "The redacted card number, e.g., 424242****1234.",
  "type": "string",
  "nullable": true
  },
  "acquirerAction": {
  "type": "string",
  "description": "Actions taken by the acquirer in response to the alert. Only relevant for RDR and other acquirer side alerts - either Resolved or Declined.",
  "nullable": true
  },
  "transactionDate": {
  "description": "Date and time when the transaction took place.",
  "format": "date-time",
  "type": "string"
  },
  "amount": {
  "description": "Transaction amount for the alert. $139.38 will be represented as 139.38",
  "format": "double",
  "type": "number"
  },
  "customerId": {
  "description": "Unique identifier for the customer associated with the alert, if available.",
  "type": "string",
  "nullable": true
  },
  "id": {
  "description": "Id for the alert.",
  "type": "string"
  },
  "merchantId": {
  "description": "Identifier for the merchant within the system.",
  "nullable": true,
  "type": "string"
  },
  "invoicedAt": {
  "format": "date-time",
  "description": "Date and time when the alert was invoiced.",
  "nullable": true,
  "type": "string"
  }
  },
  "type": "object"
  },
  "UserSettingsDTO": {
  "properties": {
  "settings": {
  "$ref": "#/components/schemas/Settings"
  },
  "id": {
  "type": "string",
  "nullable": true
  }
  },
  "type": "object"
  },
  "AgentSettingsBankTransferInfo": {
  "type": "object",
  "required": [
  "enabled"
  ],
  "properties": {
  "routingNumber": {
  "type": "string",
  "nullable": true
  },
  "bankName": {
  "nullable": true,
  "type": "string"
  },
  "enabled": {
  "type": "boolean"
  },
  "iban": {
  "type": "string",
  "nullable": true
  },
  "swiftCode": {
  "type": "string",
  "nullable": true
  },
  "accountNumber": {
  "nullable": true,
  "type": "string"
  },
  "bankAddress": {
  "nullable": true,
  "type": "string"
  }
  }
  },
  "AgentDealDTO": {
  "type": "object",
  "properties": {
  "createdAt": {
  "type": "string",
  "format": "date-time",
  "nullable": true
  },
  "id": {
  "type": "string",
  "nullable": true
  },
  "agentPayload": {
  "type": "object",
  "additionalProperties": {}
  }
  },
  "required": [
  "agentPayload"
  ]
  },
  "EmbedEnrollmentBody": {
  "type": "object",
  "required": [
  "requestData",
  "type"
  ],
  "properties": {
  "type": {
  "$ref": "#/components/schemas/DescriptorType"
  },
  "merchantId": {
  "nullable": true,
  "type": "string"
  },
  "requestData": {
  "$ref": "#/components/schemas/DescriptorRequestBody"
  }
  }
  },
  "SMSIntegration": {
  "required": [
  "enabled",
  "phonenumber"
  ],
  "type": "object",
  "properties": {
  "phonenumber": {
  "type": "string"
  },
  "enabled": {
  "type": "boolean"
  }
  }
  },
  "AgentSettingsCryptoInfo": {
  "required": [
  "token"
  ],
  "properties": {
  "token": {
  "type": "string"
  }
  },
  "type": "object"
  },
  "OrderUploadResponse": {
  "properties": {
  "message": {
  "type": "string"
  }
  },
  "required": [
  "message"
  ],
  "type": "object"
  },
  "DescriptorRequestBody": {
  "type": "object",
  "properties": {
  "caids": {
  "items": {
  "type": "string"
  },
  "type": "array",
  "nullable": true
  },
  "country": {
  "type": "string",
  "nullable": true
  },
  "processor": {
  "nullable": true,
  "type": "string"
  },
  "ruleset": {
  "type": "string",
  "nullable": true
  },
  "streetAddress": {
  "nullable": true,
  "type": "string"
  },
  "state": {
  "type": "string",
  "nullable": true
  },
  "amexDescriptor": {
  "type": "string",
  "nullable": true
  },
  "dbaName": {
  "type": "string",
  "nullable": true
  },
  "amexSe": {
  "nullable": true,
  "type": "string"
  },
  "arns": {
  "items": {
  "type": "string"
  },
  "type": "array",
  "nullable": true
  },
  "type": {
  "type": "string",
  "nullable": true
  },
  "legalName": {
  "nullable": true,
  "type": "string"
  },
  "selectedAlerts": {
  "type": "array",
  "nullable": true,
  "items": {
  "type": "string"
  }
  },
  "zip": {
  "nullable": true,
  "type": "string"
  },
  "bins": {
  "type": "array",
  "nullable": true,
  "items": {
  "type": "string"
  }
  },
  "discoverSe": {
  "nullable": true,
  "type": "string"
  },
  "city": {
  "nullable": true,
  "type": "string"
  },
  "descriptors": {
  "nullable": true,
  "items": {
  "type": "string"
  },
  "type": "array"
  },
  "mcc": {
  "nullable": true,
  "type": "string"
  }
  }
  },
  "DescriptorDetails": {
  "properties": {
  "type": {
  "type": "string"
  }
  },
  "required": [
  "type"
  ],
  "type": "object"
  },
  "NextIntegration": {
  "properties": {
  "store": {
  "type": "string",
  "nullable": true
  },
  "enabled": {
  "nullable": true,
  "type": "boolean"
  },
  "status": {
  "nullable": true,
  "type": "string"
  }
  },
  "type": "object"
  },
  "AlertUpdateBodyOpenAPI": {
  "type": "object",
  "properties": {
  "result": {
  "$ref": "#/components/schemas/AlertReasonCode"
  }
  },
  "required": [
  "result"
  ]
  },
  "InvoiceSettings": {
  "properties": {
  "line2": {
  "type": "string",
  "nullable": true
  },
  "country": {
  "type": "string",
  "nullable": true
  },
  "vatNumber": {
  "nullable": true,
  "type": "string"
  },
  "vatCode": {
  "type": "string",
  "nullable": true
  },
  "city": {
  "type": "string",
  "nullable": true
  },
  "line1": {
  "nullable": true,
  "type": "string"
  },
  "state": {
  "nullable": true,
  "type": "string"
  },
  "postal_code": {
  "type": "string",
  "nullable": true
  }
  },
  "type": "object"
  },
  "Settings": {
  "required": [
  "apiKey",
  "emails",
  "webhooks"
  ],
  "properties": {
  "agentSettings": {
  "$ref": "#/components/schemas/AgentSettings"
  },
  "mcc": {
  "type": "string",
  "nullable": true
  },
  "paymentSource": {
  "type": "string",
  "nullable": true
  },
  "descriptors": {
  "nullable": true,
  "items": {
  "type": "string"
  },
  "type": "array"
  },
  "claritySettings": {
  "$ref": "#/components/schemas/ClaritySettings"
  },
  "hasBetaFeatures": {
  "nullable": true,
  "type": "boolean"
  },
  "refundAPIEnabled": {
  "type": "boolean",
  "nullable": true
  },
  "selectedAlerts": {
  "nullable": true,
  "type": "array",
  "items": {
  "type": "string"
  }
  },
  "refundAllFromCustomer": {
  "type": "boolean",
  "nullable": true
  },
  "integrationSettings": {
  "$ref": "#/components/schemas/IntegrationSettings"
  },
  "cancelSubscription": {
  "type": "boolean",
  "nullable": true
  },
  "touched": {
  "format": "int64",
  "nullable": true,
  "type": "integer"
  },
  "alertColumns": {
  "nullable": true,
  "type": "array",
  "items": {
  "type": "string"
  }
  },
  "matchingThreshhold": {
  "nullable": true,
  "format": "double",
  "type": "number"
  },
  "webhooks": {
  "type": "array",
  "items": {
  "type": "string"
  }
  },
  "descriptorRules": {
  "items": {
  "$ref": "#/components/schemas/Rule"
  },
  "nullable": true,
  "type": "array"
  },
  "processor": {
  "nullable": true,
  "type": "string"
  },
  "apiKey": {
  "type": "string"
  },
  "invoiceSettings": {
  "$ref": "#/components/schemas/InvoiceSettings"
  },
  "efwRule": {
  "$ref": "#/components/schemas/Rule"
  },
  "autoresolve": {
  "type": "boolean",
  "nullable": true
  },
  "rdrNotifications": {
  "nullable": true,
  "type": "boolean"
  },
  "ruleset": {
  "type": "string",
  "nullable": true
  },
  "threshholdEnabled": {
  "type": "boolean",
  "nullable": true
  },
  "refundUrl": {
  "type": "string",
  "nullable": true
  },
  "emails": {
  "type": "array",
  "items": {
  "type": "string"
  }
  },
  "ethocaRule": {
  "$ref": "#/components/schemas/Rule"
  },
  "arns": {
  "items": {
  "type": "string"
  },
  "nullable": true,
  "type": "array"
  },
  "webhookSecret": {
  "type": "string",
  "nullable": true
  },
  "addCustomerToBlockList": {
  "type": "boolean",
  "nullable": true
  },
  "accountBanned": {
  "nullable": true,
  "type": "boolean"
  }
  },
  "type": "object"
  },
  "Rule": {
  "required": [
  "rules"
  ],
  "properties": {
  "action": {
  "$ref": "#/components/schemas/RuleAction"
  },
  "rules": {
  "items": {
  "$ref": "#/components/schemas/RuleGroup"
  },
  "type": "array"
  }
  },
  "type": "object"
  },
  "AnnouncementDTO": {
  "type": "object",
  "required": [
  "message",
  "type"
  ],
  "properties": {
  "message": {
  "type": "string"
  },
  "type": {
  "$ref": "#/components/schemas/AnnouncementDTOAnnouncementType"
  },
  "id": {
  "nullable": true,
  "type": "string"
  }
  }
  },
  "StickyIntegration": {
  "properties": {
  "username": {
  "type": "string",
  "nullable": true
  },
  "enabled": {
  "type": "boolean",
  "nullable": true
  },
  "subdomain": {
  "nullable": true,
  "type": "string"
  },
  "password": {
  "type": "string",
  "nullable": true
  }
  },
  "type": "object"
  },
  "KlaviyoIntegration": {
  "required": [
  "apiKey",
  "enabled"
  ],
  "properties": {
  "enabled": {
  "type": "boolean"
  },
  "apiKey": {
  "type": "string"
  }
  },
  "type": "object"
  },
  "PayshieldSiteDTO": {
  "required": [
  "descriptors",
  "name",
  "retailer"
  ],
  "type": "object",
  "properties": {
  "id": {
  "type": "string",
  "nullable": true
  },
  "descriptors": {
  "items": {
  "$ref": "#/components/schemas/PayshieldDescriptorDTO"
  },
  "type": "array"
  },
  "name": {
  "type": "string"
  },
  "retailer": {
  "$ref": "#/components/schemas/PayshieldRetailerDTO"
  }
  }
  },
  "DescriptorType": {
  "type": "string",
  "enum": [
  "Ethoca",
  "CDRN",
  "RDR",
  "Discover",
  "AMEX",
  "JCB",
  "Unknown",
  ""
  ]
  },
  "RuleGroup": {
  "properties": {
  "logicOperator": {
  "type": "string"
  }
  },
  "required": [
  "logicOperator"
  ],
  "type": "object"
  },
  "CheckoutChampIntegration": {
  "type": "object",
  "required": [
  "enabled",
  "password",
  "username"
  ],
  "properties": {
  "enabled": {
  "type": "boolean"
  },
  "username": {
  "type": "string"
  },
  "password": {
  "type": "string"
  }
  }
  },
  "IntegrationSettings": {
  "properties": {
  "maverickIntegration": {
  "$ref": "#/components/schemas/MaverickIntegration"
  },
  "mamopayIntegration": {
  "$ref": "#/components/schemas/MamopayIntegration"
  },
  "stripeIntegration": {
  "$ref": "#/components/schemas/StripeIntegration"
  },
  "nextIntegration": {
  "$ref": "#/components/schemas/NextIntegration"
  },
  "klaviyoIntegration": {
  "$ref": "#/components/schemas/KlaviyoIntegration"
  },
  "skioIntegration": {
  "$ref": "#/components/schemas/SkioIntegration"
  },
  "checkoutChampIntegration": {
  "$ref": "#/components/schemas/CheckoutChampIntegration"
  },
  "discordIntegration": {
  "$ref": "#/components/schemas/DiscordIntegration"
  },
  "smsIntegration": {
  "$ref": "#/components/schemas/SMSIntegration"
  },
  "shopifyIntegration": {
  "$ref": "#/components/schemas/ShopifyIntegration"
  },
  "braintreeIntegration": {
  "$ref": "#/components/schemas/BraintreeIntegration"
  },
  "slackIntegration": {
  "$ref": "#/components/schemas/SlackIntegration"
  },
  "stickyIntegration": {
  "$ref": "#/components/schemas/StickyIntegration"
  },
  "sealIntegration": {
  "$ref": "#/components/schemas/SealIntegration"
  },
  "whopIntegration": {
  "$ref": "#/components/schemas/WhopIntegration"
  }
  },
  "type": "object"
  },
  "RuleAction": {
  "type": "object",
  "properties": {
  "descriptor": {
  "type": "string",
  "nullable": true
  }
  }
  },
  "UnenrollmentBody": {
  "properties": {
  "descriptor_id": {
  "type": "string"
  }
  },
  "required": [
  "descriptor_id"
  ],
  "type": "object"
  },
  "AlertReasonCode": {
  "enum": [
  "Resolved",
  "ResolvedPartial",
  "ResolvedCancelled",
  "AccountCancelled",
  "CancellationProcessed",
  "UnmatchedGeneral",
  "UnmatchedCannotFindTransaction",
  "Duplicate",
  "MIDLost",
  "AlreadyRefunded",
  "AlreadyChargeback",
  "Ineligible",
  "TDS",
  "CannotCancel",
  "MatchedWillShip",
  "EscalateChargeback",
  "ContactedShipper",
  "WIP",
  "Error",
  "None",
  "NotMyDescriptor",
  "Unactioned",
  ""
  ],
  "type": "string"
  },
  "InvitationDTO": {
  "type": "object",
  "properties": {
  "email": {
  "type": "string"
  },
  "id": {
  "nullable": true,
  "type": "string"
  },
  "permission": {
  "$ref": "#/components/schemas/AccountPermission"
  },
  "status": {
  "$ref": "#/components/schemas/InvitationDTOInvitationStatus"
  },
  "createdAt": {
  "format": "date-time",
  "type": "string",
  "nullable": true
  }
  },
  "required": [
  "email",
  "permission"
  ]
  },
  "AccountRiskLevel": {
  "type": "string",
  "enum": [
  "High",
  "Medium",
  "Low"
  ]
  },
  "PayshieldDescriptorDTO": {
  "properties": {
  "details": {
  "$ref": "#/components/schemas/DescriptorDetails"
  },
  "bankMid": {
  "type": "string",
  "nullable": true
  },
  "hasEmailSent": {
  "type": "boolean"
  },
  "type": {
  "$ref": "#/components/schemas/DescriptorType"
  },
  "site": {
  "$ref": "#/components/schemas/PayshieldSiteDTO"
  },
  "status": {
  "$ref": "#/components/schemas/PayshieldDescriptorDescriptorStatus"
  },
  "id": {
  "nullable": true,
  "type": "string"
  }
  },
  "required": [
  "details",
  "hasEmailSent",
  "site",
  "status",
  "type"
  ],
  "type": "object"
  },
  "SkioIntegration": {
  "properties": {
  "apiKey": {
  "nullable": true,
  "type": "string"
  },
  "enabled": {
  "type": "boolean",
  "nullable": true
  }
  },
  "type": "object"
  },
  "UserDTO": {
  "properties": {
  "svixId": {
  "nullable": true,
  "type": "string"
  },
  "name": {
  "nullable": true,
  "type": "string"
  },
  "referralCode": {
  "type": "string",
  "nullable": true
  },
  "accounts": {
  "type": "array",
  "items": {
  "$ref": "#/components/schemas/CBAccountDTO"
  }
  },
  "company": {
  "nullable": true,
  "type": "string"
  },
  "invitations": {
  "type": "array",
  "items": {
  "$ref": "#/components/schemas/InvitationDTO"
  }
  },
  "risk": {
  "$ref": "#/components/schemas/AccountRiskLevel"
  },
  "hubspotId": {
  "nullable": true,
  "type": "string"
  },
  "id": {
  "type": "string",
  "nullable": true
  },
  "createdAt": {
  "nullable": true,
  "type": "string",
  "format": "date-time"
  },
  "fromInvite": {
  "type": "boolean",
  "nullable": true
  },
  "internalId": {
  "type": "string",
  "nullable": true
  },
  "isBilledForResolved": {
  "nullable": true,
  "type": "boolean"
  },
  "agentDeal": {
  "type": "array",
  "items": {
  "$ref": "#/components/schemas/AgentDealDTO"
  }
  },
  "announcements": {
  "type": "array",
  "items": {
  "$ref": "#/components/schemas/AnnouncementDTO"
  }
  },
  "phonenumber": {
  "nullable": true,
  "type": "string"
  },
  "isSalesAgent": {
  "nullable": true,
  "type": "boolean"
  },
  "tokens": {
  "items": {
  "$ref": "#/components/schemas/RutterTokenDTO"
  },
  "type": "array"
  },
  "internalCompany": {
  "type": "string",
  "nullable": true
  },
  "utmSource": {
  "type": "string",
  "nullable": true
  },
  "admin": {
  "nullable": true,
  "type": "boolean"
  },
  "merchantId": {
  "type": "string",
  "nullable": true
  },
  "email": {
  "type": "string",
  "nullable": true
  },
  "pfStripeId": {
  "type": "string",
  "nullable": true
  },
  "stripeId": {
  "type": "string",
  "nullable": true
  },
  "settings": {
  "$ref": "#/components/schemas/UserSettingsDTO"
  }
  },
  "required": [
  "accounts",
  "agentDeal",
  "announcements",
  "invitations",
  "tokens"
  ],
  "type": "object"
  },
  "DiscordIntegration": {
  "required": [
  "enabled",
  "webhook"
  ],
  "type": "object",
  "properties": {
  "webhook": {
  "type": "string"
  },
  "enabled": {
  "type": "boolean"
  }
  }
  },
  "WhopIntegration": {
  "properties": {
  "companyId": {
  "type": "string"
  },
  "userId": {
  "type": "string"
  },
  "enabled": {
  "type": "boolean"
  },
  "paymentStatus": {
  "nullable": true,
  "type": "string"
  }
  },
  "required": [
  "companyId",
  "enabled",
  "userId"
  ],
  "type": "object"
  },
  "ProviderSource": {
  "type": "string",
  "enum": [
  "Banks",
  "Ethoca",
  "Verifi"
  ]
  }
  }
  }
  }