{
  "openapi": "3.0.1",
  "tags": [
    {
      "name": "API"
    },
    {
      "name": "Alerts"
    },
    {
      "name": "Enrollment"
    }
  ],
  "servers": [
    {
      "url": "https://api.chargeblast.com"
    }
  ],
  "components": {
    "schemas": {
      "OrderUploadResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          }
        },
        "required": ["message"]
      },
      "DescriptorType": {
        "type": "string",
        "enum": [
          "Ethoca",
          "CDRN",
          "RDR",
          "Discover",
          "AMEX",
          "JCB",
          "Unknown",
          ""
        ]
      },
      "DescriptorRequestBody": {
        "type": "object",
        "properties": {
          "selectedAlerts": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "dbaName": {
            "type": "string",
            "nullable": true
          },
          "mcc": {
            "type": "string",
            "nullable": true
          },
          "amexDescriptor": {
            "type": "string",
            "nullable": true
          },
          "country": {
            "type": "string",
            "nullable": true
          },
          "arns": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "state": {
            "type": "string",
            "nullable": true
          },
          "legalName": {
            "type": "string",
            "nullable": true
          },
          "ruleset": {
            "type": "string",
            "nullable": true
          },
          "discoverSe": {
            "type": "string",
            "nullable": true
          },
          "city": {
            "type": "string",
            "nullable": true
          },
          "zip": {
            "type": "string",
            "nullable": true
          },
          "type": {
            "type": "string",
            "nullable": true
          },
          "amexSe": {
            "type": "string",
            "nullable": true
          },
          "processor": {
            "type": "string",
            "nullable": true
          },
          "streetAddress": {
            "type": "string",
            "nullable": true
          },
          "descriptors": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          }
        }
      },
      "EmbedMerchantResponse": {
        "type": "object",
        "properties": {
          "merchants": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "required": ["merchants"]
      },
      "AlertUpdateBody": {
        "type": "object",
        "properties": {
          "alert_ids": {
            "items": {
              "type": "string"
            },
            "nullable": true,
            "type": "array"
          },
          "result": {
            "$ref": "#/components/schemas/AlertReasonCode"
          },
          "alert_id": {
            "nullable": true,
            "type": "string"
          }
        },
        "required": ["result"]
      },
      "AlertReasonCode": {
        "type": "string",
        "enum": [
          "Resolved",
          "ResolvedPartial",
          "ResolvedCancelled",
          "AccountCancelled",
          "CancellationProcessed",
          "UnmatchedGeneral",
          "UnmatchedCannotFindTransaction",
          "Duplicate",
          "MIDLost",
          "AlreadyRefunded",
          "AlreadyChargeback",
          "Ineligible",
          "TDS",
          "CannotCancel",
          "MatchedWillShip",
          "EscalateChargeback",
          "ContactedShipper",
          "WIP",
          "Error",
          "None",
          "NotMyDescriptor",
          "Unactioned",
          ""
        ]
      },
      "EmbedEnrollmentBody": {
        "type": "object",
        "properties": {
          "merchantId": {
            "nullable": true,
            "type": "string"
          },
          "type": {
            "$ref": "#/components/schemas/DescriptorType"
          },
          "requestData": {
            "$ref": "#/components/schemas/DescriptorRequestBody"
          }
        },
        "required": ["requestData", "type"]
      },
      "User": {
        "type": "object"
      },
      "OrderUploadBody": {
        "type": "object",
        "properties": {
          "orders": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "required": ["orders"]
      },
      "UnenrollmentBody": {
        "type": "object",
        "properties": {
          "descriptor_id": {
            "type": "string"
          }
        },
        "required": ["descriptor_id"]
      },
      "GetRetailer": {
        "type": "object",
        "properties": {
          "sites": {
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "rcode": {
            "type": "string",
            "nullable": true
          },
          "merchant_id": {
            "type": "string",
            "nullable": true
          },
          "user": {
            "$ref": "#/components/schemas/User"
          },
          "id": {
            "type": "string",
            "nullable": true
          },
          "name": {
            "type": "string",
            "nullable": true
          }
        },
        "required": ["sites", "user"]
      },
      "EmbedDescriptorsResponse": {
        "type": "object",
        "properties": {
          "descriptors": {
            "items": {
              "type": "string"
            },
            "type": "array"
          }
        },
        "required": ["descriptors"]
      }
    }
  },
  "paths": {
    "/api/alerts/update/{id}": {
      "post": {
        "description": "Update the state of an alert to properly inform the banks of whether or not a refund will be issued. If an alert is left unactioned for 72 hours it will be automatically declined. For best results mark alerts as resolved within 24 hours of receiving them (some smaller banks will escalate quarantined transactions as soon as 24 hours within propogating an alert). While our API supports multiple updates, only the first response is respected by the banks.",
        "tags": ["Alerts"],
        "parameters": [
          {
            "name": "api_key",
            "schema": {
              "type": "string"
            },
            "in": "query",
            "required": true
          },
          {
            "name": "id",
            "schema": {
              "type": "string"
            },
            "in": "path",
            "required": true
          }
        ],
        "operationId": "alerts/update/id",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AlertUpdateBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "format": "int64",
                  "type": "integer"
                }
              }
            }
          }
        },
        "summary": "Update Alert"
      }
    },
    "/api/enroll_merchant": {
      "post": {
        "description": "Enroll the merchant in a various alert program. If no merchant_id is specified a new merchant object will be automatically generated. For each alert program various info is required. For example, for Ethoca, only descriptors are. To see which info is required see [here](https://docs.chargeblast.io/reference/enrollment-criteria)",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "format": "int64",
                  "type": "integer"
                }
              }
            },
            "description": "OK"
          }
        },
        "summary": "Enroll Merchant",
        "tags": ["Enrollment"],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "api_key",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "nullable": true
            },
            "required": false,
            "name": "merchant_id",
            "in": "query"
          }
        ],
        "operationId": "enroll/merchant",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmbedEnrollmentBody"
              }
            }
          },
          "required": true
        }
      }
    },
    "/api/alert/{id}": {
      "get": {
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AlertUpdateBody"
              }
            }
          },
          "required": true
        },
        "parameters": [
          {
            "in": "query",
            "schema": {
              "type": "string"
            },
            "name": "api_key",
            "required": true
          },
          {
            "in": "path",
            "schema": {
              "type": "string"
            },
            "name": "id",
            "required": true
          }
        ],
        "summary": "Get an Alert",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "format": "int64",
                  "type": "integer"
                }
              }
            }
          }
        },
        "operationId": "alert/id",
        "tags": ["Alerts"],
        "description": ""
      }
    },
    "/api/unenroll": {
      "post": {
        "parameters": [
          {
            "required": true,
            "in": "query",
            "schema": {
              "type": "string"
            },
            "name": "api_key"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UnenrollmentBody"
              }
            }
          }
        },
        "operationId": "unenroll",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "format": "int64",
                  "type": "integer"
                }
              }
            }
          }
        },
        "summary": "Unenroll Merchant",
        "tags": ["Enrollment"],
        "description": "Pass in a given descriptor_id to unenroll merchant's descriptor. Ethoca alerts take 48 hours to confirm unenrollment, RDR ~2 weeks, CDRN ~24 hours."
      }
    },
    "/api/merchants": {
      "get": {
        "parameters": [
          {
            "required": true,
            "in": "query",
            "name": "api_key",
            "schema": {
              "type": "string"
            }
          }
        ],
        "operationId": "merchants",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmbedMerchantResponse"
                }
              }
            }
          }
        },
        "summary": "Fetch Merchants",
        "tags": ["Enrollment"],
        "description": "Get all the merchants from your chargeblast account."
      }
    },
    "/api/merchant": {
      "get": {
        "summary": "Fetch Merchant",
        "description": "Get an individual merchant from your chargeblast account.",
        "operationId": "merchant",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetRetailer"
                }
              }
            }
          }
        },
        "tags": ["Enrollment"],
        "parameters": [
          {
            "required": true,
            "name": "api_key",
            "schema": {
              "type": "string"
            },
            "in": "query"
          },
          {
            "required": false,
            "name": "merchant_id",
            "schema": {
              "nullable": true,
              "type": "string"
            },
            "in": "query"
          }
        ]
      }
    },
    "/api/alerts": {
      "get": {
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "api_key",
            "required": true
          },
          {
            "schema": {
              "type": "string",
              "nullable": true
            },
            "in": "query",
            "name": "merchant_id",
            "required": false
          }
        ],
        "tags": ["Alerts"],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "type": "string"
                  },
                  "type": "array"
                }
              }
            },
            "description": "OK"
          }
        },
        "summary": "Fetch Alerts",
        "operationId": "alerts",
        "description": "Get all the alerts from your chargeblast account."
      }
    },
    "/api/descriptors": {
      "get": {
        "description": "Fetch all the descriptors for your merchants.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmbedDescriptorsResponse"
                }
              }
            }
          }
        },
        "operationId": "descriptors",
        "parameters": [
          {
            "in": "query",
            "schema": {
              "type": "string"
            },
            "name": "api_key",
            "required": true
          }
        ],
        "tags": ["Enrollment"],
        "summary": "Fetch Descriptors"
      }
    },
    "/api/orders/upload": {
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderUploadResponse"
                }
              }
            },
            "description": "OK"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrderUploadBody"
              }
            }
          },
          "required": true
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "api_key",
            "required": true
          }
        ],
        "summary": "Upload Orders",
        "operationId": "orders/upload",
        "tags": ["API"],
        "description": "Upload orders to the chargeblast system. This will allow you to match disputes and chargebacks to the orders you have uploaded."
      }
    }
  },
  "info": {
    "version": "0.1.0",
    "title": "Chargeblast API"
  }
}
